.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}

.container h1 {
  font-size: 2rem;
}

.container h2 {
  margin-top: 2rem;
  padding: 1rem;
  background: #1d4ed8;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  transition: all 0.4s linear;
}

.container h2:hover {
  border: transparent;
  background: #2563eb;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
